<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Home Page</title>
</head>
<body>
    <h4>Hello All! this is an data store application</h4>
    <img src="https://cdn.imgbin.com/11/6/19/imgbin-ala-too-international-university-almaty-management-university-kochi-university-of-technology-student-Z9DeiVueDTUNsUkLaeD97Y4Q9.jpg" width="100px" height="100px" alt="">

</body>
</html>